@media (min-width: 992px){
.navbar-expand-lg .navbar-nav  {
    padding-right: .0rem;
    padding-left: 20.5rem;
    padding-top: .5rem;
}
}

.nav-item{
    padding-right: 10px;
}

.facebook{
    font-size: 20px;
}
.twitter{
    font-size: 20px; 
}
.github{
    font-size: 20px;
}
.linkedin{
    font-size: 20px;
}