<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <img src="C:\Users\DELL\UniversalIt\src\assets\images\image1.jpg" alt="image1"> -->
  <a class="navbar-brand">Universal IT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Contact Us</a>
      </li>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" target="_blank" class="facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" target="_blank" class="twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" target="_blank" class="github">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" target="_blank" class="linkedin">
          <i class="fa fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
    </ul>
  </div>
</nav>
