<!-- <h1>Hello Welcome to Universal_It Services</h1> -->

<app-navbar></app-navbar>
<app-home></app-home>
<router-outlet></router-outlet>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">