 h2{
   font-weight: 900;
//    margin-bottom: 12rem;
}

p{
color:rgb(10, 10, 145);
font-size: 20px;
font-weight: 700;
}

 h3 {
     
    text-decoration-line: underline;
    margin-bottom: 10rem;
}

.item{
    margin-bottom: 10rem;
    color: rgb(64, 64, 226);
}

.image{
    height: 400px;
    width: 300px; 
    
    float: left;
    border: 1px solid #1c78d3;
    border-radius: .25rem;
    margin-bottom: 2rem;
    
}
h5{
    color: darkblue;
    text-decoration-line: underline;
    margin-bottom: 50px;
}

.intro{
    font-size: 15px;
}