<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/image9.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2 style="color: black">WELCOME TO UNIVERSAL IT SERVICES</h2>
                <p class="item">"We are in the field of professional Training to groom human resources for IT services."</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/image4.jpg" class="d-block w-100" alt="Hello">
            <div class="carousel-caption ">
                <h3>About universal IT</h3>
                <p><i class="fa fa-quote-left fa-2x"></i> &nbsp; &nbsp;Universal IT services is annum conventional unique endeavour to simplify programming language simplified for all. It has impeccable record of having trained several students across the globe in different timezones from different sections of the society...&nbsp; &nbsp;<i
                        class="fa fa-quote-right fa-2x"></i><br><br><br>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/image13.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <img class="image" src="assets/images/image12.jpeg" alt="">
                <h5>A few words about trainer</h5>
                <p class="intro" style="color: blanchedalmond">"Kundan Sharma is a Java certified programmer got 16+ years of industry experience in versatile domain ranging from healthcare, insurance, finance, energy, investment banking , security to retail domain. Worked with industry giants Royal Bank of Scotland, HSBC, Deutsche bank, Fujitsu , Helathcare leader Stryker.
                    <br> Qualification: Gold medalist University topper Masters in Technology passed from Anna university. Electronics and communication Engineering graduate.
                    <br>Software consultant by profession and Teacher by passion
                     <br>Have trained many students across the globe from various backgrounds ranging from business analysts, data scientists, computer graduates, manual testers, developers, Chef, pharmacist, housewives, project managers."
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>